#folder

#file
*.csv
*.txt
nlp/Bag-of-Words-Meets-Bags-of-Popcorn/Overview/300features_40minwords_10context
nlp/gendered-pronoun-resolution/input/test_stage_2.tsv
nlp/gendered-pronoun-resolution/input/test_stage_1.tsv
